<section class="container">
    <h2>Contáctenos</h2>
    @if(showFeedback) {
        <div class="bg-primary p-4 mb-6">
            <p id="mailFeedback"></p>
        </div>
    }
    
    <form class="mb-separator-50" 
        [formGroup]="contactForm" 
        (ngSubmit)="sendForm()"
    >
        <div class="md:flex md:gap-6 lg:flex-wrap lg:gap-0">
            <app-input class="w-full lg:w-1/2 lg:pr-3" [dataInput]="inputsForm[0]" [checkForm]="checkForm"></app-input>
            <app-input class="w-full lg:w-1/2 lg:pl-3"  [dataInput]="inputsForm[1]" [checkForm]="checkForm"></app-input>
            <app-input class="w-full" [dataInput]="inputsForm[2]" [checkForm]="checkForm"></app-input>
        </div>
        
        <app-input [dataInput]="inputsForm[3]" [checkForm]="checkForm"></app-input>
        <app-input [dataInput]="inputsForm[4]" [checkForm]="checkForm"></app-input>

     

        <div class="flex justify-end">
            <button class="button button-m w-fit px-6" type="submit">Enviar</button>
        </div>     
    </form>
    <app-contact-links></app-contact-links>
</section>