<div class="peer flex flex-col flex-grow min-h-screen">
    <app-header class="bg-primary"></app-header>
    <main class="container min-h-home mb-separator-50">
        <app-treatments-categories></app-treatments-categories>
        <router-outlet></router-outlet>
    </main>
    <div class="mt-auto mb-separator-50 lg:flex lg:gap-separator-30 lg:container">
        <div class="mb-separator-30 py-separator-50 bg-primary lg:w-full lg:bg-transparent">
             <app-location></app-location>
        </div>
       <div class="py-separator-30 lg:w-full lg:py-separator-50">
            <app-contact></app-contact>
       </div>
        
    </div>
    
    <app-footer class=" bg-primary"></app-footer>
    <app-menu-footer class="md:lg:hidden"></app-menu-footer>
</div>

@if (showMenu || showCart || showLogin ||  showRegister || (showLoading |async)) {
    <div class="modal"></div>
}

@if (showMenu) {
    <app-menu class="modal-right"></app-menu>
}

@if (showCart) {
    <app-cart class="modal-right"></app-cart>
}

@if (showLogin) {
}

@if (showRegister) {
}

@if (showLoading |async) {
    <app-spinner></app-spinner>
}
<!--
<div>
    <button class="z-50" (click)="toggleMenu()">click</button>
    <app-menu-footer></app-menu-footer>
    
        
</div>
<app-cart [class.modal]="isOpen == 'open'"  [isOpen]="isOpen == 'open'" ></app-cart>
<picture>                 
      <source srcset="/src/assets/images/players/player_1/player_1.webp" type="image/webp">
      <img src="/src/assets/images/players/player_1/player_1.jpg" class="card-img"  alt="Retrato Jose Carlos Figueroa">
    </picture>

-->