<router-outlet></router-outlet>

<div class="peer flex flex-col flex-grow min-h-screen">
    <app-header></app-header>
    <main class="">
        
    </main>
    <div class="mb-separator-50">
        <div class="mb-separator-50 px-3 py-separator-30 bg-primary">
             <app-location></app-location>
        </div>
       <div class="px-3">
            <app-contact></app-contact>
       </div>
        
    </div>
    
    <app-footer class="mt-auto"></app-footer>
    <app-menu-footer class="md:lg:hidden"></app-menu-footer>
</div>
<div class="peer-has-[.modalActive]:modal"></div>
<app-spinner *ngIf="showLoading | async"></app-spinner>
<!--
<div>
    <button class="z-50" (click)="toggleMenu()">click</button>
    <app-menu-footer></app-menu-footer>
    
        
</div>
<app-cart [class.modal]="isOpen == 'open'"  [isOpen]="isOpen == 'open'" ></app-cart>
<picture>                 
      <source srcset="/src/assets/images/players/player_1/player_1.webp" type="image/webp">
      <img src="/src/assets/images/players/player_1/player_1.jpg" class="card-img"  alt="Retrato Jose Carlos Figueroa">
    </picture>

-->