<div *ngIf="dataCard.product.forSale" class="space-y-[15px]">
    <div class="relative">
        <div class="absolute flex justify-between w-full p-2">
            <div class="flex flex-col gap-[5px]">
                <app-badge *ngIf="dataCard.product.trend" class="flex justify-start" [dataBadge]="badgeTrend"></app-badge>
                <app-badge *ngIf="compareDates(dataCard.product.dateCreated)" class="flex justify-start" [dataBadge]="badgeNew"></app-badge>
            </div>
            <div class="flex flex-col gap-[5px]">
                <app-badge *ngIf="dataCard.product.price.offer === '2n 50%'" class="flex justify-end" [dataBadge]="badgeProm1"></app-badge>
                <app-badge *ngIf="dataCard.product.price.offer === '3x2'" class="flex justify-end" [dataBadge]="badgeProm2"></app-badge>
            </div>
        </div>
        <picture>                 
            <source [srcset]="dataCard.image.webp" type="image/webp">
            <img class="object-cover aspect-[4/3]" [src]="dataCard.image.jpg" [alt]="dataCard.image.title">
        </picture>
    </div>
    
    <p class="subtitle-m">{{ dataCard.product.brand | uppercase}}</p>
    <h3>{{ dataCard.product.name }}</h3>
    <p>{{ dataCard.product.description | shortDescription: 10 }}</p>

    <div class="flex gap-[10px]">
        <app-badge *ngFor="let badge of dataCard.product.badgesText; let i = index" [dataBadge]="badge" [isSelected]="indexTextBadge === i" (badgeSelected)="dataSelectedBadge($event, 'textBadge')" (click)="selectedTextBadge(i)"></app-badge>
    </div>
    <div class="flex gap-[10px]">
        <app-badge *ngFor="let badge of dataCard.product.badgesColor; let i = index" [dataBadge]="badge" [isSelected]="indexColorBadge === i" (badgeSelected)="dataSelectedBadge($event, 'colorBadge')" (click)="selectedColorBadge(i)"></app-badge>
    </div>

    <div class="flex justify-end gap-[10px]">
        <p *ngIf="dataCard.product.price.discount !== null" class="body-s line-through text-darkGrey self-end">{{ dataCard.product.price.price | number: '1.2-2':'es'}}€</p>
        <h4>{{ getPrice() | number: '1.2-2':'es' }}€</h4>
    </div>
    <div class="flex justify-between gap-[10px]">
        <button class="button-normal button-s w-full" [disabled]="dataCard.product.stock <=0">Añadir a la cesta</button>
        <button class="button-action button-s w-full" [disabled]="dataCard.product.stock<=0">Comprar ya</button>
    </div>
    
</div>
