<app-breadcrumbs></app-breadcrumbs>

<h1 class="mb-separator-30">Pedido</h1>

<app-cart-dropdown class="mb-separator-30"></app-cart-dropdown>

<section class="my-separator-30">

    <div class="flex justify-between gap-4">
        <button role="link" class="button button-m px-6" 
            [routerLink]="['../','envio']">
            Atrás
        </button>
        <button class="button-action button-m px-6">
            Pagar
        </button>
    </div>  
    <div id="checkout">
        <!-- Checkout will insert the payment form here -->
    </div>
</section>
