@layer pagination {
    pagination-controls .ngx-pagination a {
        @apply button-link text-darkGrey hover:bg-white;
    }

    pagination-controls .ngx-pagination .current {
        @apply bg-secundary-700 text-white;
    }

    pagination-controls .ngx-pagination {
        display: flex;
    }
    pagination-controls .ngx-pagination .pagination-previous a,
    pagination-controls .ngx-pagination .pagination-previous.disabled {
        &:before {
            font-family: "Material Symbols Outlined";
            content: '\e5e0';
        }
    }

    pagination-controls .ngx-pagination .pagination-next a,
    pagination-controls .ngx-pagination .pagination-next.disabled {
        &:after {
            font-family: "Material Symbols Outlined";
            content: '\e5e1';
        }
    }

    pagination-controls .ngx-pagination :is(.pagination-previous, .pagination-next, .disabled) :is(a, .disabled),
    pagination-controls .ngx-pagination .disabled {
        padding: 0;
        min-height: 100%;
        display: flex;
        align-items: center;
    }
}