<app-breadcrumbs (emitTitle)="receiveBreadcrumb($event)"></app-breadcrumbs>
<h1 class="mb-separator-30">{{ title }}</h1>
@if (products.length > 0) {
    <section class="flex flex-wrap justify-start w-full">
        @for (product of products; track $index) {
            <div class="px-2 pb-4 w-1/2 md:w-1/3 lg:w-1/4">
                <app-card class="w-full" [dataCard]="product"></app-card>
            </div>
        }
    </section>
}
@else {
    <div class="text-center">
        <p class="text-l">Aún no disponemos de productos de esta categoría.</p>
    </div>
}
