/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer normalize {
    *:focus {
        outline: none;
    }
}

@layer base {
    h1, .h1 {
        @apply font-title text-h1 leading-110;
    }

    h2, .h2 {
        @apply font-title text-h2 leading-110;
    }

    h3, .h3 {
        @apply font-title text-h3 leading-110;
    }

    h4, .h4 {
        @apply font-title text-h4 leading-110;
    }

    h5, .h5 {
        @apply font-title text-h5 leading-110;
    }

    h6, .h6 {
        @apply font-title text-h6 leading-110;
    }

    .subtitle-m {
        @apply font-text text-m font-medium leading-110;
    }

    .subtitle-s {
        @apply font-text text-s font-medium leading-110;
    }

    .body-l {
        @apply font-text text-l leading-140;
    }

    .body-m,
    p, 
    label,
    li, 
    input,
    textarea,
    span,
    a, 
    tr,
    th  {
        @apply font-text text-m leading-140;
    }

    .body-s {
        @apply font-text text-s leading-140;
    }

    .body-xs {
        @apply font-text text-xs leading-140;
    }

    .body-xxs {
        @apply font-text text-xxs leading-140;
    }

    .material-symbols-outlined-200 {
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
    }

}

@layer components {
    @import './app/shared/components/button/button.component.scss'; 
    @import './app/shared/components/input/input.component.scss';
    @import './app/shared/components/table/table.component.scss';
    @import './app/shared/components/badge/badge.component.scss';
}

@layer utilities {
    //PAGINATION OVERRIDE
    pagination-controls .ngx-pagination a {
        @apply button-link text-darkGrey hover:bg-white;
    }

    pagination-controls .ngx-pagination .current {
        @apply bg-secundary-700 text-white;
    }

    pagination-controls .ngx-pagination {
        display: flex;
    }
    pagination-controls .ngx-pagination .pagination-previous a,
    pagination-controls .ngx-pagination .pagination-previous.disabled {
        &:before {
            font-family: "Material Symbols Outlined";
            content: '\e5e0';
        }
    }

    pagination-controls .ngx-pagination .pagination-next a,
    pagination-controls .ngx-pagination .pagination-next.disabled {
        &:after {
            font-family: "Material Symbols Outlined";
            content: '\e5e1';
        }
    }

    pagination-controls .ngx-pagination :is(.pagination-previous, .pagination-next, .disabled) :is(a, .disabled),
    pagination-controls .ngx-pagination .disabled {
        padding: 0;
        min-height: 100%;
        display: flex;
        align-items: center;
    }
}
