<div class="group relative w-full max-w-limit-600">
  @if (dataInput.iconLeft !== undefined) {
    @switch (dataInput.iconLeft) {
      @case ('email') {
        <span class="peer icon-left"><fa-icon [icon]="iconEmail"></fa-icon></span>
      }

      @case ('phone') {
        <span class="peer icon-left"><fa-icon [icon]="iconPhone"></fa-icon></span>
      }
    }
  }

  @if (dataInput.type !== 'select') {
    <label class="label">{{ dataInput.label }}<span *ngIf="dataInput.required">*</span></label>
  }
 
  @if (dataInput.type === 'textarea') {
    <textarea class="input min-h-64 pt-4 [&+.icon-right]:top-[1.65rem]" [placeholder]="dataInput.placeholder" [required]="dataInput.required"></textarea>
  }

  @else if (dataInput.type === 'select') {
    <div class="sr-only">
      <label>{{dataInput.label}}</label>
      <span class="icon-right" aria-hidden="true"><fa-icon [icon]="expandSelect ? iconArrowUp : iconArrowDown"></fa-icon></span>
      <select class="select border-0 border-b text-darkGrey" [required]="dataInput.required" [title]="dataInput.label" (click)="toogleSelect()">
        <option class="option" value="" selected disabled>{{dataInput.label}}</option>
        @for (option of dataInput.options; track $index) {
          <option class="option" [value]="option.id">{{ option.name }}</option>
        }
      </select>
    </div>
    
  
    <div aria-hidden="true">
      <button class="select [&>.icon-right]:top-[1.65rem]" [class.border-0]="expandSelect" (click)="toogleSelect()">{{  optionSelected === undefined ? dataInput.label : optionSelected.name}}<span class="icon-right" aria-hidden="true"><fa-icon [icon]="expandSelect ? iconArrowUp : iconArrowDown"></fa-icon></span></button>
      
      <div class="overflow-hidden">
        <ul [@detailExpand]="expandSelect ? 'expanded' : 'collapsed'">
          @for (option of dataInput.options; track $index) {
            <li class="option" (click)="optionMenu(option.id)">{{ option.name }}</li>
          }
        </ul>
      </div>
      
    </div>
  }

  @else {
    <input class="input" [type]="hidePassword ? dataInput.type : 'text'" [placeholder]="dataInput.placeholder" [required]="dataInput.required">
  }
  
  @if (dataInput.iconRight !== undefined) {
    @switch (dataInput.iconRight) {
      @case ('calendar') {
        <span class="icon-right"><fa-icon [icon]="iconCalendar"></fa-icon></span>
      }

      @case ('password') {
        <button class="icon-right" (click)="toogleIconPassword()"><fa-icon [icon]="hidePassword ? iconEyeSlash : iconEye"></fa-icon></button>
      }
    }
  }
</div>

<div class="flex flex-col">
  @for (error of dataInput.errors; track $index) {
    <!--@if (dataInput.formControl.hasError(error.type)) {-->
      <small class="px-4 py-2 body-s text-error-500">{{ error.message }}</small>
    }
  <!--}-->
</div>
