<div *ngIf="showMenu$ | async as showMenu">
    <div class="block fixed top-0 left-0 right-0 bottom-0 bg-darkGrey/40 transition-opacity z-[9000]" 
        [class.invisible]="showMenu === 'close'"  
        [class.opacity-0]="showMenu === 'close'" 
        [class.visible]="showMenu === 'open'"  
        [class.opacity-1]="showMenu === 'open'" 
        [class.modal]="showMenu === 'open'"
        (click)="closeMenu()"
        >
        <div (click)="$event.stopPropagation()">
            <div class="modal-right">
                <div class="max-w-[300px] h-screen px-4">
                    <button class="icon-xl mr-2 button-icon h-[65px] text-start" (click)="closeMenu()">
                        <fa-icon [icon]="iconClose"></fa-icon>
                    </button>
                    
                    <nav>
                        <ul>
                            <li class="py-2">
                                <a class="button-icon inline-flex items-center" [routerLink]="'agenda'" (click)="closeMenu()">
                                    <app-icon-calendar class="w-9"></app-icon-calendar>
                                    Agenda
                                </a>
                            </li>
                            <li class="py-2">
                                <a class="button-icon inline-flex items-center" [routerLink]="'tratamientos'" (click)="closeMenu()">
                                    <app-icon-treatment class="w-9"></app-icon-treatment>
                                    Tratamientos
                                </a>
                            </li>
                            <li class="py-2">
                                <a class="button-icon inline-flex items-center" [routerLink]="'tienda'" (click)="closeMenu()">
                                    <app-icon-shop class="w-9"></app-icon-shop>
                                    Tienda
                                </a>
                            </li>
                            <li class="py-2">
                                <button class="button-icon relative inline-flex items-center" (click)="openCart()">
                                    <app-icon-cart class="w-9"></app-icon-cart>
                                    Carrito
                                    <span *ngIf="countProducts > 0" 
                                        class="absolute left-[-5%] bottom-[-25%] leading-100 px-1 border rounded-full bg-secundary-700 text-s text-white">
                                        {{ countProducts }}
                                    </span>
                                </button>
                            </li>
                
                            @if (isLogin) {
                                <li class="py-2">
                                    <a class="button-icon inline-flex items-center" [routerLink]="'perfil'" (click)="closeMenu()">
                                        <app-icon-user class="w-9"></app-icon-user>
                                        Perfil
                                    </a>
                                </li>
                                <li class="py-2">
                                    <button class="button-icon inline-flex items-center" (click)="logout()">
                                        <app-icon-logout class="w-9"></app-icon-logout>
                                        Cerrar sesión
                                    </button>
                                </li>
                            }
                            
                            @else {
                                <li class="py-2">
                                    <button class="button-icon inline-flex items-center" (click)="openRegister()">
                                        <app-icon-register class="w-9"></app-icon-register>
                                        Registrarse
                                    </button>
                                </li>
                                <li class="py-2">
                                    <button class="button-icon inline-flex items-center" (click)="openLogin()">
                                        <app-icon-login class="w-9"></app-icon-login>
                                        Iniciar sesión
                                    </button>
                                </li>
                        }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

