<div class="max-w-[300px] h-screen px-4">
    <button class="material-symbols-outlined mr-2 button-icon h-[65px] text-start">close</button>
    
    <ul>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <span class="material-symbols-outlined material-symbols-outlined-200 mr-2">calendar_month</span>
                Calendario
            </a>
        </li>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <app-icon-treatment></app-icon-treatment>
                Tratamientos
            </a>
        </li>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <span class="material-symbols-outlined mr-2">calendar_month</span>
                Tienda
            </a>
        </li>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <span class="material-symbols-outlined mr-2">shopping_cart</span>
                Carrito
            </a>
        </li>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <span class="material-symbols-outlined mr-2">person</span>
                Perfil
            </a>
        </li>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <span class="material-symbols-outlined mr-2">logout</span>
                Cerrar sesión
            </a>
        </li>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <span class="material-symbols-outlined mr-2">calendar_month</span>
                Registrarse
            </a>
        </li>
        <li class="py-2">
            <a class="button-icon flex items-center">
                <span class="material-symbols-outlined mr-2">login</span>
                Iniciar sesión
            </a>
        </li>
          

    </ul>
</div>
        
